{# Removes default “در حال حاضر/پاک کردن/تغییر” UI #}
<div class="space-y-2">
  {% if widget.value %}
    <div class="flex items-center justify-between bg-gray-50 border rounded-lg p-2">
      <div class="text-sm text-gray-700 truncate">
        <span class="text-gray-500">در حال حاضر:</span>
        {{ widget.value.name }}
      </div>
      <button type="button"
              class="px-3 py-1 text-red-600 border border-red-200 rounded-md hover:bg-red-50"
              data-role="remove-icon">
        حذف آیکن
      </button>
    </div>
  {% endif %}

  <input type="{{ widget.type }}"
         name="{{ widget.name }}"
         {% include "django/forms/widgets/attrs.html" %}
  >
  {# Hidden clear checkbox Django expects #}
  {% if widget.value %}
    <input type="checkbox" name="{{ widget.checkbox_name }}" value="{{ widget.checkbox_value }}"
           class="hidden" data-role="clear-checkbox">
  {% endif %}
</div>
